body {
  background-color: #fafafa;
}

.preloader {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

.preloader p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #a7a9ac;
}
